* {
	box-sizing: border-box;
	/*padding: 0px;*/

}

body {
	font-family: 'Droid Sans', sans-serif;
	margin: 0px;
	overflow-x: hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.navbar {
	position: fixed;
	background-color: springgreen; 
	top: 0px;
	width: 100%;
	z-index: 1;
	opacity: 0.9;
}

.navbar .navbar-list {
	list-style-type: none;
	margin: 0px;
	float: left;
	font-size: 0;
}

.navbar .navbar-list .navbar-item {
	display: inline-block;
	font-size: 16px;
}

.navbar .navbar-list .navbar-item.active {
	color: #F7F7F7;
	background-color: rgb(232,111,49);
}

.navbar .navbar-list .navbar-item.active-reverse {
	color: #F7F7F7;
	background-color: rgb(232,111,49);
}

.navbar .navbar-list .navbar-item a{
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: black;
	font-weight: bold;
	transition: all 0.5s linear;
}

.navbar .navbar-list .navbar-item a:hover {
	color: #F7F7F7;
	background-color: rgb(232,111,49);
}

.portada {
	position: absolute;
	left: 0;
	top: 82%;
	width: 100%;
	color: orange; 
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	font-size: 50px;
	animation: titleAnimation 2s forwards;
	visibility: hidden;
	animation-delay: 0.8s;
}

.portada-img {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/HTML5-CSS3-Javascript.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.portada-frase {
	position: absolute;
	left: 0;
	top: 90%;
	color: orange;
	width: 100%;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	font-size: 26px;
	opacity: 0;
	animation: subTitleAnimation 3s forwards;
	animation-delay: 1s;
}

.about-me {
	padding: 300px 20px 100px 20px; 
}

.about-me .foto-josefco {
	max-width: 50%;
	float: right;
	text-align: center;
}

.about-me .josefco-info {
	max-width: 50%;
	margin-left: 50px;
	float: left;
}

.mi-foto{
	border-radius: 17%;
}

#mi-nombre::first-letter {
	font-size: 400%;
	font-weight: bold;
} 

#texto-mifoto {
	font-family: 'Lora', serif;
	text-align: center;
}

.row-flex {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

.dron-video {
	max-width: 100%;
	min-height: 100px;
}

.aficion-item {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.aficion-info {
	align-self: center;

}

.section-container {
	padding-top: 64px;
	padding-bottom: 64px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	color: white;
}
thead > tr {
	background-color: #5D6D7E;
}

th {
	height: 50px;
}


th, td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
	font-family: 'Roboto', sans-serif;
}

tbody > tr:hover {
	background-color: #dedddd;
}

.td-centered {
	text-align: center;
}

@keyframes titleAnimation {
	0% {
		font-size: 200px;
	}
	50%{
		font-size: 180px;
	}
	100%{
		font-size: 50px;
		visibility: visible;
	}
}

@keyframes subTitleAnimation {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

.no-flexbox .hobby {
	overflow: auto;
}

.no-flexbox .hobby .item-1 {
	float: left;
}

.no-flexbox .hobby .item-2 {
	float: right;
}

.footer {
	background-color: rgb(232,111,49);
	color: white;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}


.form {
	padding: 100px 20px 100px 20px;
}

.form .form-row {
	padding: 10px;
}

input {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset], button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 0px;
}

